	@font-face {
	  font-family: 'moon';
	  src: url('./fonts/moon_light.otf') format('opentype'),
	}

	@font-face {
	  font-family: 'roboto-thin';
	  src: url('./fonts/Roboto-Thin.ttf') format('truetype'),
	}

	@font-face {
	  font-family: 'roboto-light';
	  src: url('./fonts/Roboto-Light.ttf') format('truetype'),
	}

	@font-face {
	  font-family: 'roboto-regular';
	  src: url('./fonts/Roboto-Regular.ttf') format('truetype'),
	}