#landing {
  background-color: #007BBF;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  margin: -8px;
  position: fixed;
}

.left {
  position: absolute;
  left: 20%;
  top: 30%;
  max-width: 100%;
  width: 350px;
  padding: 10px;
}

.right {
  position: absolute;
  right: 20%;
  top: 30%;
  max-width: 100%;
  width: 350;
  padding: 10px;
}

.bottom-middle {
  position: absolute;
  right: 50%;
  bottom: 5vh;
  max-width: 100%;
  margin-right: -30px;
  height: 200;
  width: 200;
  padding: 10px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000;
  margin: 1em 0;
  margin-top: 75px;
  padding: 0;
}

.project-group {
  padding: 5px;
  margin-top: 30px;
}
.project-group h2 {
  color: #fff;
  margin-left: 10px;
  font-family: roboto-thin;
}

.project-group a {
  margin-left: 10px;
  font-family: roboto-light;
}

.image-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5vh;
  margin: 20px;
  max-width: 100%;
}

.image-container img {
  width: 100%;
  border:1px solid #ffffff50;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10%;
  width: 85%;
  margin: 0 auto;
  margin-top: 60px;
}

.grid-container div {
  padding: 25px;
  padding-top: 10px;
  padding-bottom: 40px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #00000050;
  background-color: #262626;
}

.grid-container div h2 {
  color: #ffffff;
  text-align: center;
  font-family: roboto-regular;
}

.grid-container div body {
  color: #fff;
  font-family: roboto-light;
  background-color: #26262600
}



// .panel-grid-container {
//   position: fixed;

//   max-height: 150vh;
//   width: 100%;
//   display: flex;
//   background-color: #2196F3;
//   margin: -10px;
// }

// .panel {
//   position: fixed;
//   height: 150vh;
//   width: 25%;
//   background-color: #fff;
// }