<div appParallax [ratio]="0.3" id="landing">
  <!-- <canvas #randomcanvas style="height: 100%; margin: -8px; width:100%;"></canvas> -->
  <div class="left">
    <h1 class="typewrite" appTypewriter href="" [period]="1000" [rotatedWords]='[ "Hi I&apos;m Trae Wright.", "Hi I&apos;m a software developer.", "Hi I&apos;m a designer.", "Hi I&apos;m a gamer.", "And welcome to my website!"]'>Hi, I'm Trae Wright.</h1>
    <h2>This is where I store my nerd stuff.</h2>
  </div>

  <div class="right" style="margin-top: -30px">
    <img id="flat_me" src="/assets/images/flatMe.png" width="200" height="200">
  </div>


  <div appParallax [ratio]=".6" class="bottom-middle" [@isLoaded]="isLoaded ? 'loaded' : 'notLoaded'">
    <svg #downArrowLeft [@leftArrow]="arrowDirection" height="25" width="25">
      <line  x1="0" y1="0" x2="25" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
      Sorry, your browser does not support inline SVG.
    </svg>

    <svg #downArrowRight [@rightArrow]="arrowDirection" height="25" width="25">
      <line x1="0" y1="0" x2="25" y2="0" style="stroke:rgb(255,255,255);stroke-width:2" />
      Sorry, your browser does not support inline SVG.
    </svg>
  </div>
</div>

<div style="position: relative; height:100vh;">
</div>

<!-- <div appParallax [ratio]="1.2" class="panel" style="left: 0%"></div>
<div appParallax [ratio]="1.1" class="panel" style="left: 25%"></div>
<div appParallax [ratio]="1.23" class="panel" style="left: 50%"></div>
<div appParallax [ratio]="1.14" class="panel" style="left: 75%"></div> -->

<div class="content" role="main">

  <h1>About Me</h1>
  <div class="grid-container">
    <div>
      <h2>About Me</h2>
      <body>Professional, productive, driven by self-improvement and is confident in learning new concepts. Has a strong passion for developing software in any environment or language. Works well with other and is comfortable in both leadership and subservient roles in team projects. Finds a sense of enjoyment in seeing a project from the beginning to the end stages of development. Has worked on many different apps on both IOS and Android.</body>
    </div>
    <div>
      <h2>Professional Skills</h2>
      <body>I like to think that I specialize in Mobile and Cloud development. But my day to day often changes based on the tasks at hand. I'm comfortable in Java, Javascript, Dart, Swift, and Node.js for now. That's the best part about programming for me, I can confidently say that I know 7 languages and that's barely scratching the surface. There are so many available languages and tech out there and I can't wait to have an opportunity to explore every last one of them. Programing may be my job but it was and always will be my passion first and foremost.</body>
    </div>
  </div>

  <hr/>
  <h1>Self Projects</h1>
  <hr/>
  <div class="project-group">
    <h2>Self-Published: Go/No Go</h2>
    <a href="https://play.google.com/store/apps/details?id=com.wright.android.t_minus" target="_blank">Google Play Store Link</a>

    <div class="image-container">
      <img src="assets/images/gng-login.gif" alt="Login Animation">
      <img src="assets/images/gng-manifest.gif" alt="Manifest">
      <img src="assets/images/gng-ar.gif" alt="AR">
      <img src="assets/images/gng-photos.gif" alt="Photos">
    </div>

    <div class="grid-container">
      <div>
        <h2>Tech Overview</h2>
        <body>This is a Java-based Android application that uses ARCore and geolocations to show augmented projections of where a rocket is going to take off from. The backend is ran using Firebase. The rocket launch data is coming from a rocket API source that includes details about the launch itself. Also, there is a Pinterest-like image sharing part of the application to share your pictures of the rocket launches(I currently have the 'sharing' part disabled, because.. money).</body>
      </div>
      <div>
        <h2>Description</h2>
        <body>The goal of this application is to provided users with the ability to stay up to date on rocket launches taking place and make the process of viewing the launch a breeze. It will allow users to see when a rocket launch will take place then see the launch pad in their camera using AR technology. This will allow the user to know exactly where to look when the rocket is about to launch so they never miss a moment. It also will suggest restaurants nearby the rocket launch that offer deals for people wanting to view the launch.</body>
      </div>
    </div>
  </div>

  <!-- <div class="project-group">
    <h2>Flat Design People</h2>
    <a>2019</a>

    <div class="image-container">
      <img src="/assets/images/gng-login.gif" alt="Login Animation">
      <img src="/assets/images/gng-manifest.gif" alt="Manifest">
      <img src="/assets/images/gng-ar.gif" alt="AR">
      <img src="/assets/images/gng-photos.gif" alt="Photos">
    </div>

    <div class="grid-container">
      <div>
        <h2>Tech Overview</h2>
        <body>This is a Java-based Android application that uses ARCore and geolocations to show augmented projections of where a rocket is going to take off from. The backend is ran using Firebase. The rocket launch data is coming from a rocket API source that includes details about the launch itself. Also, there is a Pinterest-like image sharing part of the application to share your pictures of the rocket launches(I currently have the 'sharing' part disabled, because.. money).</body>
      </div>
      <div>
        <h2>Description</h2>
        <body>The goal of this application is to provided users with the ability to stay up to date on rocket launches taking place and make the process of viewing the launch a breeze. It will allow users to see when a rocket launch will take place then see the launch pad in their camera using AR technology. This will allow the user to know exactly where to look when the rocket is about to launch so they never miss a moment. It also will suggest restaurants nearby the rocket launch that offer deals for people wanting to view the launch.</body>
      </div>
    </div>
  </div> -->

  <hr/>


 <!--  <div class="grid-container">
    <div>
      <img id="smr_logo" src="https://smartmedreminder.com/wp-content/themes/chs/assets/img/logo/logo.png">
    </div>
    <div class="grid-container-child-text">
      <h3>Smart Med Reminder</h3>
      <p>Current Job with CHS | present | https://smartmedreminder.com/</p>
      <body>Taking your medication as prescribed is the best way to get the full benefits of your treatment, which will ultimately lead to better health and lower healthcare costs. The Smart Med Reminder™ mobile application works with a connected prescription cap that you receive from your pharmacist or health care provider to help you follow your doctor's instructions.</body>
    </div>
  </div>

  <div class="grid-container">
    <div>
    </div>
    <div class="grid-container-child-text">
      <h3>Go/No-Go (Published)</h3>
      <p>Self Project | 2018 | https://play.google.com/store/apps/details?id=com.wright.android.t_minus</p>
      <body>The goal of this application is to provided users with the ability to stay up to date on rocket launches taking place and make the process of viewing the launch a breeze. It will allow users to see when a rocket launch will take place then see the launch pad in their camera using AR technology. This will allow the user to know exactly where to look when the rocket is about to launch so they never miss a moment. It also will suggest restaurants nearby the rocket launch that offer deals for people wanting to view the launch.</body>
    </div>
  </div>

  <div class="grid-container">
    <div>


    </div>
    <div class="grid-container-child-text">
      <h3>Flat Design People</h3>
      <p>Self Project | 2019 </p>
      <body>I was looking through reddit and I found this post: https://www.reddit.com/r/Design/comments/c468u1/what_is_this_type_of_illustration_called_whats/ and I really enjoyed the style of the illustration. This made me want to give this illustration style a try, so I replicated the Flat Design person from the reddit post then made a couple other versions.</body>
    </div>
  </div>

  <div class="grid-container">
    <div>


    </div>
    <div class="grid-container-child-text">
      <h3>Nû</h3>
      <p>Self Project | 2018</p>
      <body>Nû helps people better organize their food by keeping track of what they have and suggesting recipes based on the food they currently have. On top of that Nû will also notify the user before food items perish date. This app gives you the knowledge to cook a meal every night without having to hopelessly search through recipes that you found online for the perfect recipe that you have all the ingredients for. All you have to do is receipt as soon as you get home and then you will instantly receive recommendations for what to eat.</body>
    </div>
  </div>

  <div class="grid-container">
    <div>


    </div>
    <div class="grid-container-child-text">
      <h3>Shared Goods</h3>
      <p>Group Project | 2017</p>
      <body>Shared Goods is a shared grocery list app that allows multiple people on separate devices to interact with the list. You can invite up to two other people to join your list. When someone other than you removes an item from the list it will send a notification to your watch letting you know that they have gotten that item.</body>
    </div>
  </div>

  <div class="grid-container">
    <div>


    </div>
    <div class="grid-container-child-text">
      <h3>Home Checker</h3>
      <p>Self Project | 2017</p>
      <body>The application is designed for parents so they can make sure when and if their children get home safely. The main use is letting the parent(s) know exactly what time their child made it home and if it was before or after a curfew they set. Parents can set a curfew for a child using the app and then the child has to be home before the curfew or the parent will be notified. The way that the child verifies that they are home is by an NFC box placed somewhere in the household and the child has to scan the box to confirm they are home.</body>
    </div>
  </div>

  <div class="grid-container">
    <div>


    </div>
    <div class="grid-container-child-text">
      <h3>Vex Marble sorter</h3>
      <p>Group Project | 2015</p>
      <body>This was created using VEX programing software and VEX robotics equipment without a guide/ kit. It the flashlight to shine light into the marble so the light sensor mounted under frame can detect what color it is based on the amount of light that passed throughout the marble. If the program can not get a solid reading of the marble it will re-scan the marble 3 times and average the results to find the correct color. Then a gear spins one of four dixie cups into the correct position to catch the marble.</body>
    </div>
  </div> -->
</div>

  <!-- Toolbar -->
<div id="toolbar" class="toolbar" role="banner">
  <img
    width="40"
    src="assets/images/flatMe.png"
  />
  <span style="font-family: roboto;">Wright Portolio</span>
    <div class="spacer"></div>
    <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/traewright/" title="LinkedIn">
    <img src="https://icon-library.net/images/linkedin-icon-no-background/linkedin-icon-no-background-8.jpg" height="24" viewBox="0 0 400 400">
  </a>
  <a target="_blank" rel="noopener" href="https://www.github.com/WrightTrae" title="GitHub">
    <img src="https://www.stickpng.com/assets/images/5847f98fcef1014c0b5e48c0.png" height="24" viewBox="0 0 400 400">
  </a>
</div>
<!-- Toolbar End -->
<router-outlet></router-outlet>